#table-section {
  font-family: sans-serif;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #213454;
    color: white;
  }
}

.create-btn {
  background-color: #213454;
  color: #ffffff;
  font-size: 14px;
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  padding: 8px 20px;
}
