<div class="w-75 mx-auto pt-5">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h3>Table Data</h3>
    </div>
    <div>
      <button class="create-btn mb-3" routerLink="/forms">Create Table</button>
    </div>
  </div>
  <table id="table-section">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>City</th>
      <th>Pincode</th>
    </tr>
    <tr *ngFor="let data of showList;let i = index;">
      <td>{{data.name}}</td>
      <td>{{data.email}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.city}}</td>
      <td>{{data.pincode}}</td>
    </tr>
  </table>


</div>
