<div class="form-section">
  <h2 class="text-center mb-3 mt-3">Sample Form</h2>

  <div class="w-50 mx-auto px-md-5">
    <form [formGroup]="sampleForm" (ngSubmit)="onSubmit()">
      <div class="inp-group mb-2">
        <label for="name">Name*</label>
        <input type="text" id="name" formControlName="name" placeholder="Enter Name" autocomplete="off"
          class="form-control text-capitalize">
        <div class="error-msg">
          <div *ngIf="sampleForm?.controls?.name?.touched">
            <div *ngIf="sampleForm?.controls?.name?.errors?.required">Name is required</div>
          </div>
        </div>
      </div>

      <div class="inp-group mb-2">
        <label for="email">Email*</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter Email" autocomplete="off"
          class="form-control">
        <div class="error-msg">
          <div *ngIf="sampleForm?.controls?.email?.touched">
            <div *ngIf="sampleForm?.controls?.email?.errors?.required">Email is required</div>
            <div *ngIf="sampleForm?.controls?.email?.errors?.email">Email is Invalid</div>
          </div>
        </div>
      </div>
      <div class="inp-group mb-2">
        <label for="phone">Phone Number*</label>
        <input type="text" id="phone" maxlength="10" OnlyNumber formControlName="phone" placeholder="Enter Phone Number" autocomplete="off"
          class="form-control">
        <div class="error-msg">
          <div *ngIf="sampleForm?.controls?.phone?.touched">
            <div *ngIf="sampleForm?.controls?.phone?.errors?.required">Phone Number is required</div>
            <div *ngIf="sampleForm?.controls?.phone?.errors?.minlength">Phone Number is Invalid</div>
          </div>
        </div>
      </div>
      <div class="inp-group mb-2">
        <label for="city">City*</label>
        <input type="text" id="city" formControlName="city" placeholder="Enter City" autocomplete="off"
          class="form-control text-capitalize">
        <div class="error-msg">
          <div *ngIf="sampleForm?.controls?.city?.touched">
            <div *ngIf="sampleForm?.controls?.city?.errors?.required">City is required</div>
          </div>
        </div>
      </div>
      <div class="inp-group mb-2">
        <label for="pincode">Pincode*</label>
        <input type="text" id="pincode" maxlength="6" OnlyNumber formControlName="pincode" placeholder="Enter Pincode" autocomplete="off"
          class="form-control">
        <div class="error-msg">
          <div *ngIf="sampleForm?.controls?.pincode?.touched">
            <div *ngIf="sampleForm?.controls?.pincode?.errors?.required">Pincode is required</div>
            <div *ngIf="sampleForm?.controls?.pincode?.errors?.minlength">Pincode is Invalid</div>
          </div>
        </div>
      </div>

      <div class="text-center mt-3">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
