.form-section {
  h2 {
    color: #213454 !important;
  }

  .inp-group {
    label {
      font-size: 14px !important;
    }

    .error-msg {
      height: 18px;

      div {
        color: red;
        font-size: 12px;
      }
    }
  }

  button {
    background-color: #213454;
    color: #ffffff;
    font-size: 14px;
    border-radius: 8px;
    outline: none !important;
    border: none !important;
    padding: 8px 20px;
  }

}
